
:root {
  --p_font_size: calc(0.6vw + 12px);
  --h4_font_size: calc(var(--p_font_size) + 5px);
  --h3_font_size: calc(var(--p_font_size) + 10px);
  --h2_font_size: calc(var(--p_font_size) + 12px);
  --h1_font_size: calc(var(--p_font_size) + 25px);
}

body{
  font-family: serif,monospace;
  color: #ebeced;
  background: rgb(4, 13, 25);
}

.main_iframe{
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 30%;
}

.main_iframe iframe{
  position: absolute;
  width:70%;
  height:70%;
  top: 0;
  left:30%;
}

.contact_view{
  display: table;
  align-content: center;
}

.contact_view a{
  display: table-cell;
  float: left;
  margin-left: 5%;
  padding: 5%;
  width: 1%;
}

.contact_view a img {
  width: 1000%;
  padding-left: 5%;
  filter: invert(80%);
}

.contact_view a img:hover {  
  transform: scale(1.5);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
   z-index: 3;
}

.topnav {
  display: block;
  background-color: #330055;
  padding: 20px 1px 10px 10px; /* top right bottom left */
  width: inherit;
}

.topnav a {
  text-align: center;
  padding: 5px 15px 5px 15px; /* top right bottom left */
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 3.5vh;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

.top_bar_container{
  display: table;
  /*background: rgb(131,58,180);*/
  /*background: linear-gradient(351deg, rgba(131,58,180,1) 0%, rgba(164,29,253,1) 50%, rgba(69,73,252,1) 100%);*/
  background: rgb(4,13,25);
  background: linear-gradient(0deg, rgba(4,13,25,1) 0%, rgba(51,0,84,1) 100%);
  width: 100vw;
  height: 100%;
}

.top_bar_txt {
  float: left;
  display: table-cell;
  float: left;
  width: 60%;
}

.top_bar h1 {
  font-size: 1.5vw;
}

.top_bar h2 {
  font-size: 1.5vw;
}

#emubt_svg {
  display: table-cell;
  float: right;
  /*height: 150%;*/
  height: 25vh;
  /*width: 25vw;*/
  max-height: 200px;
  
  background: #4B1F9E;
  margin: 3%;
  box-shadow: 0 0 1.5vw 2.5vw #4B1F9E;

}




/*DEMO GRID*/
#demos_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px ;
  justify-items: center;
  background: #172A42;
  box-shadow: 0 0 15px 15px #172A42;
  margin: 2%;
  
}

.demo_window{
  border: 2px solid grey;
  box-shadow: 6px 6px 6px #0F1F33;
  margin: 4%;
  width: 90%;
}

.demo_window:hover{
    transform: scale(1.1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
     z-index: 3;
}


#pictures_grid {
  /*display:grid;*/
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px 10px ;
  
}

.grid_picture{
  width: 25%;
  border: 4px solid;
  border-color: rgba(4,13,25,1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.grid_picture:hover{
  transform: scale(1.7);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
   z-index: 3;
}

/*MAIN GRID*/
.main_grid{
  display:grid;
  grid-template-columns: 60vw 1fr;
  gap: 10px 14px ;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.horizontal_grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 14px ;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;  

}

/*.cell:active {*/
/*    transform: scale(1.5);*/
/*  -webkit-transition-duration: 0.5s;*/
/*  -moz-transition-duration: 0.5s;*/
/*  -o-transition-duration: 0.5s;*/
/*  transition-duration: 0.5s;*/
/*   z-index: 3;*/
/*}*/

.bottom_border {
    background: /* gradient can be an image */
    linear-gradient(
      to left, 
      rgba(4,13,25,1) 0%, rgba(51,0,84,1) 50%, rgba(4,13,25,1) 100%
    )
    left 
    bottom
    no-repeat; 
  background-size:100% 5px ;/* if linear-gradient, we need to resize it */
  
}

/*.simple_grid .cell,*/
/*.main_grid .cell {*/
/*    background: /* gradient can be an image */*/
/*    linear-gradient(*/
/*      to left, */
/*      rgba(4,13,25,1) 0%, rgba(51,0,84,1) 50%, rgba(4,13,25,1) 100%*/
/*    )*/
/*    left */
/*    bottom*/
/*    no-repeat; */
/*  background-size:100% 5px ;/* if linear-gradient, we need to resize it */*/
/*}*/
                             

.square {
  margin-left: 5%;
}

.square img:hover {
    transform: scale(1.5);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
     z-index: 3;
}


.floating_links{
  margin-left: 0;
  display: block;
  width: 7%;
  max-height:  70vh;
  position: fixed;
  bottom: 7vh;
  transition: left 0.3s;
  filter: invert(80%);
}

.contact_link_left {
  height: 3.8vw;
  width: 3.8vw;

}

.contact_link:hover {
  transform: scale(1.5);
        -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
     z-index: 3;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.footer{
  display: block;
  text-align: center;
  background-color: #330055;
  /*height: 2vh;*/
  padding: 15px 0px 15px 0px; /*top right bottom left*/
  color: #ebeced;
  width: 100vw;
  
}

.footer a:link {
  color: #ebeced;
}

h1, h2, p, li, .footer {
  color: #ebeced;
}

h1, h2, h3, h4 {
  font-weight:800;
  line-height: 100%;
  margin: 0px 15px 0px 0px; /* top right bottom left*/
  text-align: left;
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1_font_size);
  margin-top: 8%;
}

h2 {
  /*font-size:max(1.6vw, 20px);*/
  font-size: var(--h2_font_size);
  margin: 5% 15px 10px 0px; /* top right bottom left*/
  width: 70%;
}

h3 {
  font-size: var(--h3_font_size);
  margin: 5% 15px 10px 0px; /* top right bottom left*/
  width: 70%;
}

h4 {
  font-size: var(--h4_font_size);
  margin: 5% 15px 10px 5%; /* top right bottom left*/
  width: 70%;
}

p, li {
  font-size:var(--p_font_size);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
  margin: 2% 5% 2% 5%;
  text-align: justify;
}

a {
  color: #c8c8c8;
}

a:hover {
  color: #2B6175; text-decoration: underline;
}

.text {
  width:100%;
  /*margin-bottom: 2%;*/
}

.text p.p_list li ul{
  line-height: 12px;
  display:list-item;
  list-style-type: disc;
  margin: 2% 1px 2% 15%;
}

.link a:link { color: #3562ab; font-size: 25px; font-weight: 600; line-height: 25px; text-align: left; margin: auto; display: list-item;list-style-type: disc; margin-left: 5%; margin-top: 0px;}
.link a:visited {color: #152e57; font-size: 26px; line-height: 25px; text-align: left; margin: auto; display: list-item;list-style-type: disc; margin-left: 5%; margin-top: 0px;}

.git_asset {
  font-size:max(1.3vw, 15px);
  /*font-size: 60%;*/
  margin-left: 8%;
  line-height: 1;
}

.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin: 5%; }


/*.text:active {*/
/*    transform: scale(1.5);*/
/*    -webkit-transition-duration: 0.5s;*/
/*    -moz-transition-duration: 0.5s;*/
/*    -o-transition-duration: 0.5s;*/
/*    transition-duration: 0.5s;*/
/*    z-index: 3;*/
/*}*/

/*.text:hover {*/
/*  background: rgb(131,58,180);*/
/*  background: linear-gradient(to bottom, rgba(131,58,180,0.2) 0%, rgba(164,29,253,0.05) 50%, rgba(69,73,252,0.05) 100%);*/
/*}*/

/*.text h1 {*/
/*  background: rgb(131,58,180);*/
/*  background: linear-gradient(to bottom, rgba(131,58,180,0.2) 0%, rgba(164,29,253,0.05) 50%, rgba(69,73,252,0.05) 100%);*/
/*  margin: 0;*/
/*  margin-bottom: 1%;*/
/*  margin-top: 1%;*/
/*}*/

/*#slide_description{*/
/*  display: table-cell;*/
/*  float: left;*/
/*  width: 40%;*/
/*}*/
/**/
/*#slide_text {*/
/*  color: #cce3f0;*/
/*  text-align: right;*/
/*  padding: 20px 20px;*/
/*  text-decoration: none;*/
/*  font-style: italic;*/
/*  font-size: 2vh;*/
/*}*/

/**/
/*.slide_in {*/
/*    /*position: relative;*/*/
/*    display: block;*/
/*    float: left;*/
/*    -webkit-animation: slide_in 5s forwards;*/
/*    -webkit-animation-delay: 0s;*/
/*    animation: slide_in 5s forwards;*/
/*    animation-delay: 0s;*/
/*    width: 15vw;*/
/*}*/
/**/
/**/
/*@-webkit-keyframes slide_in {*/
/*    /*100% { left: 100%; }*/*/
/*}*/
/**/
/*@keyframes slide_in {*/
/*    0% { left: -100%; opacity: 0; }*/
/*    10% { left: 0%; }*/
/*    40% { left: 0%; opacity: 1;}*/
/*    90% { left: 0%; }*/
/*    100% { left:100%; }*/
/*}*/
