
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

background: rgb(242,238,244);
background: radial-gradient(circle, rgba(242,238,244,1) 0%, rgba(249,249,249,0.42) 100%);
}

.main {
  align-content: center;
}

#streams {
  display: table;
}

#left_stream {
  display: table-cell;
  float: left;
  width: 55%;
  margin-left: 10%;

}

#right_stream {
  display: table-cell;
  float: right;
  margin-right: 2%;
  margin-top: 3%;
  width: 30%;
}

.demo_window{
  display: block;
  width: 80%;
  margin: 10px auto;
  border: 5px solid black;
}

.footer {
  text-align: center;
  background-color: #330055;
  height: 0.1vh;
  padding: 20px 20px;
  color: #ebeced;
}

.footer a:link {
  color: #ebeced;
}

.contact_view{
  display: table;
  align-content: center;
  /*margin: 5%;*/
}

.contact_link {
  /*float: left;*/
  height: 2.5vw;
  width: 2.5vw;
  /*padding-right: 20px;*/
  margin: 5%;

}

.contact_link_left {
  /*float: left;*/
  height: 3.8vw;
  width: 3.8vw;
  /*padding-right: 20px;*/
  margin: 5%;

}

.square img:hover {
    transform: scale(2.3);
        -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
     z-index: 3;
}

.contact_link:hover {
  transform: scale(1.5);
        -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
     z-index: 3;
}



.top_nav_desc{
  display: block;
  width: 100%;
  background-color: #330055;
}

.top_nav_hidden{
  margin-left: 0;
  display: block;
  /*padding: 0px 0px;*/
  transform: scale(0.8);
  width: 5vw;
  max-height:  70vh;
  /*max-height: 3vh;*/
  position: fixed;
  bottom: 7vh;
  /*left: -40px;*/
  /*transition: top 3s;*/
  transition: left 0.3s;
}


/*.top_nav_hidden div{*/
/*  color: #ebeced;*/
/*  padding: 10px 5px;*/
/*}*/

/*.top_nav_hidden a{*/
/*  width: 80%;*/
/*}*/

/*.top_nav_hidden div:hover {*/
/*  background-color: #ddd;*/
/*  color: black;*/
/*}*/



.topnav {
  display: block;
  float: left;
  background-color: #330055;
  height: 5vh;
  padding: 50px 1px 1px 1px;
  width: 100%;
}

.topnav a {
  color: #ebeced;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 2vh;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

#slide_description{
  display: table-cell;
  float: left;
  width: 40%;
}

#slide_text {
  color: #cce3f0;
  text-align: right;
  padding: 20px 20px;
  text-decoration: none;
  font-style: italic;
  font-size: 2vh;
}

.top_bar_container{
  display: table;
  background: rgb(131,58,180);
  background: linear-gradient(351deg, rgba(131,58,180,1) 0%, rgba(164,29,253,1) 50%, rgba(69,73,252,1) 100%);
  width: 100%;
}

.top_bar {
  display: table-cell;
  float: left;
  max-height: 36vh;
  width: 70%%;
}

#emubt_svg {
  display: table-cell;
  float: right;
  width: 30vh;  
}

.banner {
  margin-left: 25vw;
  display: block;
  float: left;
  max-height: inherit;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  max-width: 50vw;
}

#carousel {
  box-shadow: 10px 10px 10px black;
  border-radius: 15px;
  opacity: 0.9;
}



.slide_in {
    /*position: relative;*/
    display: block;
    float: left;
    -webkit-animation: slide_in 5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide_in 5s forwards;
    animation-delay: 0s;
    width: 15vw;
}


@-webkit-keyframes slide_in {
    /*100% { left: 100%; }*/
}

@keyframes slide_in {
    0% { left: -100%; opacity: 0; }
    10% { left: 0%; }
    40% { left: 0%; opacity: 1;}
    90% { left: 0%; }
    100% { left:100%; }
}

/*h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 5%; margin-top: 5px;}
h2 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 5% 5% 24px; }
h3 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; margin: 5% 5% 24px; }

p { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 4px; text-align: justify; margin: 5%;}
a { color: #ff9900; text-decoration: none; margin: 1%;}
a:hover { color: #ffcc66 }
*/

h1 { color: black; font-family: 'Enriqueta', arial, serif; line-height: 1.25; font-size: 2vw; font-weight: 1000; line-height: 72px; margin: 5% 5% 14px; margin-top: 1%; text-align: left; text-transform: uppercase; }

h2 { color: black; font-family: 'Raleway',sans-serif; font-size: 1.5vw; font-weight: 800; line-height: 2vh; margin: 0 0 1.5vh; margin-left: 20px; width: 80%;text-align: justify; }


p { color: #333333; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5625; margin-bottom: 15px; margin: 2% 10% 2% 2%; text-align: justify;}
/*p { color: black; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 2% 10% 2% 2%; text-align: justify;}*/


a { color: #c8c8c8; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }

.p_list {line-height: 12px; display:list-item;list-style-type: disc; margin: 1% 1% 1% 5%;}

img { 
    float: right;  
    margin: 5px; 
}

.text {
  width:100%;
  margin-top: 5%;
  margin-bottom: 5%;
  /*margin-left: 10%;*/
  border: 1px solid;
  border-left: 3px solid;
  border-left-color: #9d69b5;
  border-color: #dcd3e0 ;
  /*box-shadow: 1px 1px 1px 1px #e0ddd3;*/
}



/*.link a:link { color: blue; font-family: 'Trocchi'; font-size: 28px; line-height: 30px; text-align: left; margin: auto; display: list-item;list-style-type: disc; margin-left: 5%; margin-top: 0px;}*/
.link a:link { color: #3562ab; font-family: 'Raleway',sans-serif; font-size: 25px; font-weight: 600; line-height: 25px; text-align: left; margin: auto; display: list-item;list-style-type: disc; margin-left: 5%; margin-top: 0px;}
.link a:visited {color: #152e57; font-family: font-family: 'Raleway',sans-serif; font-size: 26px; line-height: 25px; text-align: left; margin: auto; display: list-item;list-style-type: disc; margin-left: 5%; margin-top: 0px;}


.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin: 5%; }